<mat-card>

        <ng-template tdLoading="depositos.list">
            <mat-list class="will-load">
                <div class="pad" *ngIf="depositos?.length === 0" layout="row" layout-align="center">
                    <h3> No hay depositos para mostrar </h3>
                </div>
    
                <ng-template let-depo let-last="last" ngFor [ngForOf]="usuarios">
                    <mat-list-item>
                        <mat-icon matListAvatar>dns</mat-icon>
                        <h3 matLine>  {{depo.idHistoria}}</h3>
                        <h3 matLine> {{depo.fecha}}</h3>
                        <h3 matLine> {{depo.psicologo}}</h3>
                        <h3 matLine> {{depo.idPregunta_Paciente}}</h3>
                        <h3 matLine> {{depo.nombrePaciente}}</h3>
                        <h3 matLine> {{depo.pregunta}}</h3>
                        <h3 matLine> {{depo.respuesta}}</h3>
                        <button mat-icon-button (click)="delete(depo)">
                    
                        </button>
                    </mat-list-item>
    
                    <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                </ng-template>
            </mat-list>
        </ng-template>
    </mat-card>
    
    
